/*------ Global CSS ---------*/
body {
  box-sizing: border-box;
  background-color: white;
}
p {
  font-family: "Kanit";
}

/*----------------------------------------------*/
/*----------------------------------------------*/
/*------ Home page CSS  ---------*/
/*----------------------------------------------*/
/*----------------------------------------------*/
.divAllProducts {
  margin: 0 auto;
  margin: 15%;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.productImage {
  height: 200px;
  width: 200px;
  border-radius: 5px;
}
.divProduct {
  background-color: rgb(134, 244, 242);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 2.5%;
}
.divProductNoStock {
  background-color: rgb(134, 244, 242);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 2.5%;
  opacity: 0.4;
}
.nameProduct {
  margin-left: 5px;
  color: black;
}
.divInfosProduct {
  background-color: whitesmoke;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
}
.divAvailability {
  display: flex;
  gap: 5px;
  padding: 5px;
}
.noQuantity {
  color: red;
}
.littleQuantity {
  color: orange;
}
.muchQuantity {
  color: green;
}
