/*------ Global CSS ---------*/
body {
  box-sizing: border-box;
  background-color: white;
}
p {
  font-family: "Kanit";
}

/*----------------------------------------------*/
/*----------------------------------------------*/
/*------ Header CSS  ---------*/
/*----------------------------------------------*/
/*----------------------------------------------*/

header {
  line-height: 100px;
  background-color: #5c47d2;
  border-bottom: solid 3px rgb(90, 7, 132);
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20%;
}
.buttonShopIcon {
  background-color: #5c47d2;
  border: none;
}
.buttonShopIcon:hover {
  opacity: 0.6;
  cursor: pointer;
}
.shopIcon {
  color: whitesmoke;
  height: 30px;
}
.buttonAddProduct {
  color: #5c47d2;
  background-color: white;
  border: none;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
  border: solid white 2px;
  border-radius: 5px;
  padding: 5px;
  text-decoration: none;
  height: 30px;
  font-family: "Kanit";
}

.buttonAddProduct:hover {
  background-color: #5c47d2;
  color: white;
  cursor: pointer;
  .iconAddProduct {
    color: white;
  }
}
.iconAddProduct {
  color: #5c47d2;
}

.titleHeader {
  color: white;
  font-weight: 700;
  font-size: 26px;
  text-align: center;
}
/*----------------------------------------------*/
/*----------------------------------------------*/
/*------ Home page CSS  ---------*/
/*----------------------------------------------*/
/*----------------------------------------------*/

.divAllProducts {
  margin: 0 auto;
  margin: 10%;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.productImage {
  height: 200px;
  object-fit: cover;
  width: 200px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px 1px rgb(0 0 0 / 0.8);
}
.divProduct {
  background-color: #5c47d2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 2.5%;
  border-radius: 6px;
  box-shadow: 1px 1px 10px 1px rgb(0 0 0 / 0.8);
}
.divProductNoStock {
  background-color: #5c47d2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 2.5%;
  opacity: 0.4;
  border-radius: 6px;
}
.nameProduct {
  margin-left: 5px;
  color: black;
  width: 75%;
}
.divInfosProduct {
  width: 190px;
  background-color: white;
  border-radius: 4px;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
  box-shadow: 1px 1px 10px 1px rgb(0 0 0 / 0.8);
}
.divNameAndUpdateButton {
  display: flex;

  justify-content: space-between;
}
.updateButton {
  margin-right: 5px;
  background-color: black;
  color: white;
  border: none;

  border-radius: 4px;
}
.updateButton:hover {
  opacity: 0.6;
  cursor: pointer;
}
.divAvailability {
  display: flex;
  gap: 5px;
  padding: 5px;
}
.noQuantity {
  color: red;
}
.littleQuantity {
  color: orange;
  opacity: 0.6;
}
.muchQuantity {
  color: green;
  opacity: 0.6;
}

/*----------------------------------------------*/
/*----------------------------------------------*/
/*------ AddProduct page CSS  ---------*/
/*----------------------------------------------*/
/*----------------------------------------------*/

.sectionAddProduct {
  margin: 10%;
}
.formAddProduct {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/*----------------------------------------------*/
/*----------------------------------------------*/
/*------ updateProduct page CSS  ---------*/
/*----------------------------------------------*/
/*----------------------------------------------*/
.sectionUpdatePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  gap: 20px;
  margin: 10%;
}
.titleUpdatePage {
  font-weight: 700;
  color: #5c47d2;
  font-size: 20px;
}
.productImageInUpdatePage {
  height: 200px;
}
.divProductInfosUpdatePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 3px black;

  border-radius: 6px;
  padding: 5px;
}
.formUpdateProduct {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
